environment:
  STATIC_SITE_REPO: https://github.com/uvery9/DailyWallpaper
  TARGET_BRANCH: master
  GIT_USER_EMAIL: uvery6@gmail.com
  GIT_USER_NAME: SimenR
image: Visual Studio 2019
configuration: Release
test: off
# nuget restore -verbosity detailed 
before_build:
- ps: >-
     nuget restore
build:
  parallel: true
  verbosity: minimal
  
after_build:
- cmd:   
    git describe --always --tags >OUTPUTFILE.TXT
    
    set /P GIT_TAG=<OUTPUTFILE.TXT
    

    
    cd DailyWallpaper\bin\Release\
    
    7z a DailyWallpaper.Protable.zip .
   
    move DailyWallpaper.Protable.zip ..\..\..\OUTPUT\DailyWallpaper.Protable-%GIT_TAG%.zip
    
    cd ..\..\..\OUTPUT
    
    move DailyWallpaper.Installer.msi DailyWallpaper.Installer-%GIT_TAG%.msi
    
    sha256sum.exe DailyWallpaper.Installer-%GIT_TAG%.msi > DailyWallpaper.Installer-%GIT_TAG%.msi.sha256
    
    sha256sum.exe DailyWallpaper.Protable-%GIT_TAG%.zip > DailyWallpaper.Protable-%GIT_TAG%.zip.sha256
    
    #echo signtool.exe sign /fd SHA256 /n "SHA256" "DailyWallpaper.Protable-%GIT_TAG%.zip" > sign.bat
    #echo signtool.exe sign /fd SHA256 /n "SHA256" "DailyWallpaper.Installer-%GIT_TAG%.msi" >> sign.bat
    #call sign.bat
    
version: DW.{build}

artifacts:
- path: OUTPUT\DailyWallpaper.Installer-%GIT_TAG%.msi
  name: DailyWallpaper.Installer
- path: OUTPUT\DailyWallpaper.Protable-%GIT_TAG%.zip
  name: DailyWallpaper.Protable
- path: OUTPUT\*.msi.sha256
  name: DailyWallpaper.Installer.Hash
- path: OUTPUT\*.zip.sha256
  name: DailyWallpaper.Protable.Hash


# scripts to run before deployment
before_deploy:
- cmd:   
    git tag -l -n10 --points-at HEAD > GIT_TAG_MSG.TXT
    
    set /P GIT_TAG_MSG=<GIT_TAG_MSG.TXT

deploy:
  release: APPVEYOR-%GIT_TAG%
  description: " %GIT_TAG_MSG% "
  provider: GitHub
  auth_token:
    secure:  cbOU7dpfiZvoBfS3NHM4rU4Ge9lD7FFWbmjRQ8t+iaUPOC7eQnS+ldjZxiY/Hf9g
  artifact: DailyWallpaper.Installer, DailyWallpaper.Installer.Hash, DailyWallpaper.Protable, DailyWallpaper.Protable.Hash
  draft: true
  prerelease: false
  on:
    APPVEYOR_REPO_TAG: true        # deploy on tag push only