<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="DailyWallpaper" Language="1033"
           Version="1.0.0.0" Manufacturer="Jared DC"
           UpgradeCode="57eb6063-c30d-4b56-a541-670867f2396d">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade Schedule="afterInstallValidate" AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="low" />

    <Property Id='ALLUSERS' Value='2' />
    <Property Id='MSIINSTALLPERUSER' Value='1' />

    <Feature Id="ProductFeature" Title="DailyWallpaper.Installer" Level="1">
      <ComponentGroupRef Id="DailyWallpaperComponents" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ApplicationShortcutProgramMenu" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Component Id="ApplicationShortcutProgramMenu" Guid="d71a2680-bb35-4c93-9d8c-5d10acdf8707">
          <Shortcut Id="ApplicationProgramMenuShortcut"
                    Name="DailyWallpaper"
                    Description="DailyWallpaper lets you preview any file by pressing the space bar."
                    Target="[INSTALLFOLDER]DailyWallpaper.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="ProgramMenuFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\DailyWallpaper"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="22fe6a14-e8bd-4b98-8780-8ac9e4cfbf4d">
          <Shortcut Id="ApplicationDesktopShortcut"
                    Name="DailyWallpaper"
                    Description="DailyWallpaper: Change the wallpaper daily from Bing,Spotlight or LocalPath."
                    Target="[INSTALLFOLDER]DailyWallpaper.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RegistryValue
            Root="HKCU"
            Key="Software\DailyWallpaper"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
        </Component>
      </Directory>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DailyWallpaper" />
      </Directory>
    </Directory>
    <!-- Step 2: Add UI to your installer / Step 4: Trigger the custom action -->
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch DailyWallpaper" />

    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]DailyWallpaper.exe" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />
  </Product>
</Wix>